docs/validator.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="scenar">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="scenarObj">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="target"/>
              <xs:element type="xs:string" name="ports"/>
              <xs:element name="module">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="preset"/>
                    <xs:element type="xs:string" name="args"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>